/* background colors - start
================================================== */
.badge_discount {
	background-color: $default_orange;
}
.badge_new {
	background-color: #109531;
}
.badge_hot {
	background-color: #ff1d5d;
}
.badge_sale {
	background-color: #f68872;
}

.bg_tumblr {
	background-color: #35465d;
}
.bg_facebook {
	background-color: #3b5998;
}
.bg_twitter {
	background-color: #1da1f2;
}
.bg_youtube {
	background-color: #ff0000;
}
.bg_google {
	background-color: #ea4335;
}
/* background colors - end
================================================== */