/* parallax - start
================================================== */
.parallax_section {
	display: flex;
	min-height: 1100px;
	align-items: center;
}
/* parallax - end
================================================== */