/* lookbook section - start
================================================== */
.lookbook_section {
	background-color: #e4ecee;

	.slider_item {
		padding-right: 10px;
		padding-bottom: 10px;
	}

	.image_wrap {
		display: block;
		overflow: hidden;
		box-shadow: 8px 8px 0 1px #c4cbcc;
		img {
			transition: $default_transition;
		}
		&:hover {
			img {
				transform: scale(1.08);
			}
		}
	}

	.thumb_wrap {
		padding: 0 120px;
	}

	.carousel_nav {
		button {
			width: auto;
			height: auto;
			border: none;
			font-size: 36px;
			box-shadow: none;
			color: $default_black;
			background-color: transparent;
			&:hover {
				color: $default_orange;
			}
		}
	}

	.title_text {
		line-height: 1;
		font-size: 52px;
		margin-bottom: 20px;
	}

	.item_title {
		font-size: 23px;
		font-weight: 500;
		padding-top: 25px;
		a {
			color: $default_black;
			&:hover {
				color: $default_orange;
			}
		}
	}

	.item_price {
		display: flex;
		font-size: 15px;
		align-items: center;
		margin-bottom: 10px;
		span {
			font-weight: 700;
			margin-right: 7px;
			color: $default_black;
		}
		del {
			color: #a0a0a0;
		}
	}

	.item_category {
		>li {
			position: relative;
			&:not(:last-child) {
				margin-right: 6px;
				padding-right: 4px;
			}
			&:after {
				right: 0;
				bottom: 1px;
				content: ',';
				position: absolute;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
		a {
			color: #a0a0a0;
			&:hover {
				color: $default_orange;
				text-decoration: underline;
			}
		}
	}
}
/* lookbook section - end
================================================== */